.container{
    border: 1px solid rgba(255, 255, 255, 0.383);
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    box-sizing: border-box;
}

p{
    padding:0;
}

.user{
    color:rgb(161, 159, 159);
    font-size: small;
}

.up{
    color: green;
}

.up:hover{
    background-color: green;
    color: black;
}

.down{
    color:red;
}

.down:hover{
    background-color: red;
    color: black;
}

.button.down{
    border: 1px solid red;
    padding: 5px;
    font-size: medium;
}

.button.up{
    border: 1px solid green;
    padding: 5px;
    font-size: medium;
}
.votes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}