<div class="container">
    <div>
        <p class="user">{{this.comment.user}}</p>
    </div>
    <div>
        <p>{{this.comment.commentText}}</p>
    </div>
    <div class="votes">
        <div class="up">
            {{this.comment.upvoteCounter}}
        </div>
        <div class="down">
            {{this.comment.downvoteCounter}}
        </div>
        <div>
            <button (click)="vote(true)" class="up button">UPVOTE</button>
            <button (click)="vote(false)" class="down button">DOWNVOTE</button>
        </div>
</div>
</div>
