<div class="container">
    <div>
        <p class="user">{{this.comment.user}}</p>
    </div>
    <div>
        <p>{{this.comment.commentText}}</p>
    </div>
    <div class="votes">
        <div class="up">
            {{this.comment.upvoteCounter}}
        </div>
        <div class="down">
            {{this.comment.downvoteCounter}}
        </div>
        <div *ngIf="!voted">
            <button (click)="vote(true)" class="up button">↑</button>
            <button (click)="vote(false)" class="down button">↓</button>
        </div>
</div>
</div>
