.main{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.long-bar{
    width: 30%;
    height: 20px;
    border: 1px solid white;
    display: flex;
    flex-wrap: nowrap;
    margin: 15px;
}

