header {
display: flex;
width: 98%;
height: 50px;
justify-content: space-between;
padding: 20px;
padding-right: 0px;
margin-bottom: 20px;
border-bottom: 1px solid white;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: red;
}

.posts{
    width: 50%;
}

.user{
    color:rgb(161, 159, 159);
    font-size: small;
}


