<div class="container" *ngIf="!done">
    Share you opinion:
    <textarea rows="4" cols="50" [(ngModel)]="this.postText"></textarea>
    <select [(ngModel)]="this.tag">
        <option value="general">general</option>
        <option value="politics">politics</option>
        <option value="philosphy">philosphy</option>
        <option value="personal">personal</option>
    </select>
    <div>
        Source (add a url to a source that supports your opinion):
        <input [(ngModel)]="this.link">
    </div>
    <button class="button" (click)="add()">Post</button>
</div>
<div *ngIf="done" class="done">
    Thank you for sharing!
</div>
