<div class="base-container">

    <div class="logo-container">
        <img src="../../../assets/logo.png" class="logo-img">
        <h1 class = "logo-header">Opinion-Meter</h1>
    </div>

    <div class='menu'>
        <div (click)="setState(1)"
        [ngClass]="{'is-selected': !isRegister}">
            SIGN IN
        </div>
        <div (click)="setState(2)"
        [ngClass]="{'is-selected': isRegister}">
            SIGN UP
        </div>
    </div>
    <div *ngIf="!isRegister" class="form">
        <div class="error-info" *ngIf="this.errorInfo">
            "Username or password is incorrect, please try again"
        </div>
        <label>Username: </label>
        <input [(ngModel)]="username">
        <label>Password: </label>
        <input [(ngModel)]="pass" type="password">
        <button class="button" (click)="login()">Login</button>
    </div>
    <div *ngIf="isRegister" class="form">
        <div class="error-info" *ngIf="this.errorInfo">
            "Username already taken, please try again"
        </div>
        <label>Username: </label>
        <input [(ngModel)]="username">
        <label>Password: </label>
        <input [(ngModel)]="pass" type="password">
        <label>Gender:</label>
        <select [(ngModel)] = "gender">
            <option value= "male" selected="selected">Male</option>
            <option value = "female">Female</option>
            <option value = "other">Non-Binary/Other</option>
        </select>
        <label>Education:</label>
        <select [(ngModel)] = "education">
            <option value="littlenone" selected="selected">No Formal Education</option>
            <option value="highschool">HighSchool Degree</option>
            <option value="bachelors">Bachelors Degree</option>
            <option value="masters">Masters Degree</option>
            <option value="phd">PhD</option>
        </select>
        <label>Employment:</label>
        <select [(ngModel)] = "employment">
            <option value="unemployed" selected="selected">Unemployed</option>
            <option value="employed">Employed</option>
            <option value="parttime">Part-Time</option>
            <option value="entrepreneur">Self-Employed/Entrepreneur</option>
        </select>
        <label>Region:</label>
        <select [(ngModel)] = "region">
            <option value="europe" selected="selected">Europe</option>
            <option value="eastasia">East Asia</option>
            <option value="middleeast">Middle East</option>
            <option value="africa">Africa</option>
            <option value="namerica">North America</option>
            <option value="samerica">Latin America</option>
        </select>
        <button class="button" (click)="register()">Create Account</button>
    </div>
</div>
